@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-rose: #f9c5d1;
    --color-beige: #f5e6d3;
    --color-primary: #e8a9b4;
    --color-accent: #d9c2b0;
    --color-darkText: #4a3b32;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}

